<div class="image-of-flat">

</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="show-card">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>
      <div class="description-show">
        <h3>A bit more about this flat...</h3>
        <%= @flat.description %>
      </div>
    </div>
    <div class="col-4">
      <div class="booking-info">
        Book this place!
        <a href="">Book!</a>
      </div>
      <div class="more-info">
        <h3>Details</h3>
        <p><%= @flat.price_per_night %></p>
        <p><%= @flat.number_of_guests %></p>
      </div>
      <%= link_to "Back to all flats", flats_path %>
    </div>
  </div>
</div>
